{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}School Anthem | Kids | Sheperds Pre School {% endblock %}


{% block content %}
<div class="w3-card-4">
<div class="col-sm-2">
		  </div> <!--col-sm-2-->
<div class = "col-sm-8">
<header class="w3-container w3-white">
  <h1>Our school anthem</h1>
</header>
<div class="w3-container">
  <p>We nurture the little ones and prepare them fully for primary school. Take a look at some of the activities the children take part in the Gallery. 
</div>
</div>
</div>



{% endblock %}
