{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}Classes | Facilities | Sheperds Pre School {% endblock %}

{% block content %}
<div class="w3-card-4">
<div class="col-sm-2">
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href="{% url 'classes' %}">Classes</a></li>
				<li><a href="{% url 'tellyroom' %}">Telly Room</a></li>
				<li><a href="{% url 'playground' %}" %}'>Play Ground</a></li>
				<li><a href="{% url 'kitchen' %}">Kitchen</a></li>
				<li><a href="{% url 'sickbay' %}">Sick Bay</a></li>
				<li><a href="{% url 'washrooms' %}">Wash Rooms</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
<div class = "col-sm-8">
<header class="w3-container w3-white">
  <h1>Classes</h1>
</header>
<img src="img_car.jpg" alt="Class room Image" style="width:100%">
<div class="w3-container">
  <p>We have spacious classes rooms that offer a free environment for the children to fully express themselves enhancing their mental development.</p>
 <p> We have four classes where the little ones are placed based on their ages</p>
  <ul>
  	<li><strong>Day Care  for ages 2 to 3 years</strong></li>
  	<li><strong>Baby Class for ages 3 to 4 years</strong></li>
  	<li><strong>Middle Class for ages 4 to 5 years</strong></li>
  	<li><strong>Top Class for ages 5 to 6 years</strong></li>
  </ul>
</div>
</div>
</div>



{% endblock %}
