{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}Contact Us | Sheperds Pre School {% endblock %}


{% block content %}
<div class= "row">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7979.401683580658!2d32.598023323374626!3d0.4396847772652475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177db167287059c7%3A0x71323958ecb57187!2sKasangati!5e0!3m2!1sen!2sug!4v1477413368984" width="100%" height="400" frameborder="0" style="border:2" allowfullscreen></iframe>
</div>
<div class= "row">
<div class= "col-sm-5">
 
<br/> <br/>
</div>
<div class="col-sm-4">
<center>
<header class="w3-container w3-teal">
  <h3>Get in touch with us.</h3>
</header>
<br/><br/>
<legend>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>
</legend>
</center>
</div>
<div class="col-sm-3">
	<header class="w3-container w3-teal">
  <h3>Our Address</h3>
</header>
<div class="w3-container" line-height:10px>
  Reach us by post.
  <br/>
  <br>Sheperds Pre School.
  <br>P.O.Box #,
  <br>Kampala - Uganda.
  <br>Tel: +256-xxx-xxxxxx.

  
</div>
</div>

</div>
		
{% endblock %}
