{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}Letter From the Directors| About | Sheperds Pre School {% endblock %}


{% block content %}
<div class="row">
<div class="col-sm-4"><img src="{% static 'website/images/slider1.jpg' %}" style="width:100%"> <img class="mySlides" src="" ></div>
<div class="col-sm-6">
<p> <i>To our parents, we thank you for entrusting us with your children. At Sheperds Pre School we beleive that children are very important to our nation and the way they are brought up is of great effect of how they will turn out in love. Its with that mind set that we set out to provide the at most care and nurture them. </i>
</p>
<div class="col-sm-2"></div>
</div>
</div>
		
{% endblock %}
