{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %} Mission, Vision, Values | About Us | Sheperds Pre School {% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-4">
	<header><strong>Our Motto</strong></header>
	<p>Excellence, the only way to fly.</p>
	<header><strong>Our Mission</strong></header>
	<p></p>
	<header><strong>Our Vision</strong></header>
	<p>To be an example of excellence in child care and the best pre school in Uganda.</p>
	<header><strong>Our Slogan</strong></header>
	<p>Kind minds keep going</p>
</div>
<div class="col-sm-8">
<header><strong>Our Values</strong></header>
<p>At Sheperds Pre School, we believe that its very important to have values on which a society standards so as to ensure that our family can always look back to them and stay on the right path. Below are our values:-</p>
<ul>
	<li></li>
	<li>Grooooo</li>
	<li>Grooooo</li>
	<li>Grooooo</li>
</ul>
</div>
</div>
		
{% endblock %}
