{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}Play Ground| Facilities | Sheperds Pre School {% endblock %}

{% block content %}
<div class="w3-card-4">
<div class="col-sm-2">
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#fff">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href="{% url 'classes' %}">Classes</a></li>
				<li><a href="{% url 'tellyroom' %}">Telly Room</a></li>
				<li><a href="{% url 'playground' %}" %}'>Play Ground</a></li>
				<li><a href="{% url 'kitchen' %}">Kitchen</a></li>
				<li><a href="{% url 'sickbay' %}">Sick Bay</a></li>
				<li><a href="{% url 'washrooms' %}">Wash Rooms</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
<div class = "col-sm-8">
<header class="w3-container w3-white">
  <h1>Play Ground</h1>
</header>
<img src="{% static 'website/images/slider3.jpg' %}" alt="Play ground Image" style="width:100%">
<div class="w3-container">
  <br/>We provide a safe play ground with lots of kid friendly swings, sand pits and swim pads. The children are always monitored whenever they are playing to ensure their safety.
</div>
</div>
</div>



{% endblock %}
