{% extends "website/base.html" %}
{% load staticfiles %}
{% block title_block %}Kids | Sheperds Pre School {% endblock %}


{% block content %}
<div class="w3-card-4">
<div class="col-sm-2">
		  </div> <!--col-sm-2-->
<div class = "col-sm-8">
<header class="w3-container w3-white">
  <h1>Check out our awesome gallery</h1>
</header>
<img src="img_car.jpg" alt="Facilities Image" style="width:100%">
<div class="w3-container">
  <p>We nurture the little ones and prepare them fully for primary school. Take a look at some of the activities the children take part in the Gallery. 
</div>
</div>
</div>



{% endblock %}
